body {
    background-image: url(../imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

h3 {
    font-family: ROMAN SD;
    text-align: center;
    font-size: 40px;
}

.container {
    border: #F22816 dotted 8px ;
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
    opacity: 0.8;
    margin-top: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h4{
    text-align: center;
    font-family: Agency FB;
    font-size: 30px;
    margin-top: -10px;
}

p {
    text-align: center;
    font-family: Agency FB;
    font-size: 20px;
    margin-top: -20px;
}

button {
    width: 200px;
    height: 40px;
    background-color: #F22816;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #F2A71B;
    font-size: 20px;
    font-family: ROMAN SD;
    margin-left: auto;
    margin-right: auto;
     
}

a {
    margin-left: auto;
    margin-right: auto;
}